video_path: /home/anre/Documents/footages/dog.mp4
styles_path: /home/anre/artistic-videos-python-wrapper/styles/
# resolution: 960x512
resolution: 640x320
frames_count: 0
torch_path: /home/anre/torch/install/bin/th
flownet2_nvidia_path: /home/anre/flownet2-nvidia/
conda_env: flownet-env
content_weight: '3'
style_weight: '1e2'
temporal_weight: '1e3'
style_scale: '0.8,1,1.2'
tv_weight: '1e-3'
clean: false
optflow: false
frames: false
make_video: false
continue_with: 1
multipass: false
continue_with_pass: 14
num_passes: 15