video_path: /home/anre/Videos/svia.mp4
styles_path: /home/anre/artistic-videos-python-wrapper/styles/
resolution: 896x896
frames_count: 10
torch_path: /home/anre/torch/install/bin/th
flownet2_nvidia_path: /home/anre/flownet2-nvidia/
conda_env: flownet-env
style_weight: 1e3
temporal_weight: 1e3
clean: true
optflow: true
frames: true
make_video: true
